:root{
    --table-color:rgb(38, 38, 38);
    --nav-color:rgb(35, 35, 35);
    --contrast-red:rgb(231, 52, 52);
}
.main{
    width:100vw;
    min-height:100vh;
    display: grid;
    justify-content: center;
}
@media only screen and (max-width:760px){
    
}
/* Table-Outer */
.table{
    width:90vw;
    margin-top: 10vh;
    background-color: var(--table-color);
}
.search-bar{
    padding: 0.5em !important;
    color:white !important;
    background-color: rgb(60, 60, 60);
}
nav{
    display: flex;
    gap:1em;
    align-items: center;
    padding: 1em 1em;
    background-color: var(--nav-color);
}
.add-task-btn{
    display: flex;
    gap: 0.5em;
    font-size: 0.7em ;
    padding: 0.8em;
    border-radius: 0.5em;
    transition:all 200ms;
    background-color: var(--contrast-red);
}
.add-task-btn:hover{
    transform: scale(1.1);
}
.search-bar{
    margin-left: auto;
    border-radius:0.2em;
    color:black;
    font-size: 0.8em;
    padding: 0.2em;
    width: 15em;
}
@media only screen and (max-width:760px){
    .table{
        width: 100vw;
        margin: 0;
    }
    nav{
        flex-direction: column;
    }
    .add-task-btn{
        font-size: 0.4em;
    }
    .search-bar{
        width: 90%;
    }
}
/* Table-Outer end */
/* Tasks */
.filter-container{
    display: flex;
    overflow: auto;
    margin: 0 1em;
    padding: 0 0.4em;
    height:1.1em;
    border: solid rgba(255, 255, 255, 0.269);
    border-width: 0.05em 0;
    gap:0.5em;
}
.filter{
    font-size: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition:all 200ms;
    border-radius: 0.3em;
}
.filter:hover, .filter:focus{
    background-color: var(--contrast-red);
}
.task-c{
    display: grid;
    grid-auto-flow: column;
    padding: 0em 1em;
    place-items: center;
}
.task-c > div, .task-c > button{
    font-size: 0.5em;
    width: 8.1vw;
    height: 100%;
    text-align: center;
    line-height: 3em;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.nav{
    background-color: rgb(30, 30, 30);
    font-size: 0.45em !important;
}
.date{
    grid-column: 1;
}
.name{
    grid-column: 2/4;
    width: 18vw !important;
}
.type{
    grid-column: 4;
}
.time{
    grid-column: 5;
}
.cont{
    grid-column: 6;
}
.note{
    grid-column: 7/9;
    width: 18vw !important;
}
.stat{
    grid-column: 9;
}
.stat-mobile{
    display: none !important;
}
.opt{
    grid-column: 10;
    cursor:pointer
}
.open-btn{
    display: none;
}
.open-not-btn{
    display: none !important;
}
@media only screen and (max-width:760px){
    .filter-container{
        margin: 0;
        white-space: nowrap;
        overflow-x: auto !important;
    }
    .task-c{
        padding: 0em;
        padding-right: 0.5em;
        /* gap: 0.1em; */
    }
    .date,.name{
        width: 50vw;
    }
    .type,.time,.cont,.note,.stat,.opt{
        display: none ;
    }
    .mob-active > .type,.mob-active > .time,.mob-active > .cont,.mob-active > .note,.mob-active > .stat,.mob-active > .opt{
        display: block ;
        width: 100% !important;
    }
    .task-c > div, .task-c > button{
        width:48.5vw !important;
    }
    .mob-active{
        display: flex;
        flex-direction: column;
    }
    .open-btn{
        display: block;
        grid-column:1;
        font-size:0.6em;
        position:absolute;
        left:0;
        margin-top:-0.5em
    }
    .mob-active > .open-btn{
        margin-top:0.8em;
    }
    .open-not-btn{
        display: none !important;
    }
    .stat{
        display: none !important;
    }
    .mob-active > .stat-mobile{
        display: block !important;
    }
    .opt{
        display: none;
    }
}
/* Tooltip */
.nav[type="task"]:hover > .task-tooltip{
    display: grid;
}
.task-tooltip{
    margin-top: 0vh !important;
    margin-left: 0vw !important;
    margin-right: 0vw !important;
}
.task-tooltip > h5{
    font-size: 0.6em !important;
}
.opt:hover + .opt-menu, .tooltip-menu:hover, .opt:focus + .tooltip-menu{
    display: flex;
}
.stat:hover + .stat-menu{
    display: flex;
}
.stat-menu{
    margin-left: 52em !important;
    margin-top:8em !important;
}
.tooltip-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    margin-left: 70em;
    margin-top:12em;
    height: fit-content !important;
    background-color: rgb(24, 24, 24);
    padding: 0.6em 1em;
    padding-bottom: 1em;
}
.tooltip-menu > button{
    font-size: 0.5rem;
    text-align: left;
    padding-left: 0.2em;
    transition: all 200ms;
    margin-top: 0.5em;
}
.tooltip-menu > button:hover{
    color: rgb(0, 221, 255);
}
.tooltip-menu > h5{
    font-size: 1em;
    border-bottom: 0.1em solid white;
    margin-bottom: 0.2em;
}
/* Tooltip End */
/* Tasks End */
/* Add Task Menu */
.task-menu{
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    place-items: center;
}
.active{
    display: grid !important;
}
.task-menu + form{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin-left: 35vw;
    margin-top: 8vh;
    width: 30vw;
    font-size: 0.8em;
    background-color: rgba(30,30,30);
}
.val-c{
    display: flex;
    margin: 1em 0;
    padding: 0em 1em;
    gap:0.5em;
    flex-direction: column;
}
.val-c > *{
    color:white;
    font-size: 0.5em;
    padding: 0.8em;
    background-color: rgb(40,40,40);
}
.form-btn{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
    background-color: transparent;
}
.form-btn > button{
    font-size: 1em;
    padding: 1em;
    border-radius: 0.5em;
    transition: all 200ms;
}
.form-btn > button[type="submit"]{
    background-color: var(--contrast-red);
}
.form-btn > button:hover{
    transform: scale(1.1);
}
.date-time{
    display: flex;
    gap:0.5em
}
.date-time > input{
    width: 50%;
}
.date-time > input[type="text"]{
    font-size: 1em;
    padding: 0.8em;
}
@media only screen and (max-width:760px){
    .task-menu + form{
        top:0;
        left: 0;
        margin: 0;
        width: 100vw;
    }
    .task-menu{
        position: fixed;
    }
}
/* Add Task Menu */