body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(33, 33, 33);
}
*{
  color:white;
  margin: 0;
  padding: 0;
  font-size: 30px;
}
button{
  background: none;
  border:none;
  cursor:pointer;
  font-family: inherit;
}
